.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.bd-solid {
  border: solid;
}

.w-300 {
  width: 300px;
}

.h-300 {
  height: 300px;
}

.bd-color {
  border-color: rgb(174, 185, 185);
}

.bd-radius {
  border-radius: 1rem;
}

.text-decoration-none {
  text-decoration: none;
}

.w-auto {
  width: auto;
}
.h-auto {
  height: auto;
}

.btn-foto {
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.btn-foto:hover {
  background-color: brown;
}
