.min-heigth {
  min-height: 700px;
}

.scroll-bar {
  height: 500px; /* высота нашего блока */
  width: 300px; /* ширина нашего блока */
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}
